.checkout-container {
  width: 600px;
  margin-top: -20px;
  border: 1px solid rgba(0, 0, 0, 0.134);
  border-radius: 10px;
}

#payment-option-button {
  background-color: transparent;
  color: rgb(231, 21, 126);
  border: none;
}

.payment-option {
  border: 1px solid rgba(231, 21, 126, 0.353);
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
}

.checkout-summary-customer {
  border: 1px solid rgba(0, 0, 0, 0.208);
  border-radius: 10px;
}

.customer-checkout-table {
  height: 300px;
  overflow-y: auto;
}

#customer-checkout-button {
  background-color: hotpink !important;
  border: none !important;
}

#customer-checkout-button:hover{
  background-color: rgba(255, 105, 180, 0.295) !important;
  color: black !important;
}

@media (max-width: 768px) {
  .checkout-container {
      width: 350px;
      margin-top: 0px;
      border: none;
      border-radius: 10px;
      /* position:absolute;
      top:50;
      translate:middle; */
      border: 1px solid rgba(0, 0, 0, 0.168);
      /* padding-right: 20px !important; */
  }

  .paymentopt-label {
      width: 400px !important;
  }

  .paymentopt-drop{
      width: 100%;
  }
    
}