.homemain {
    margin-top: 90px;
}

.drafthome {
    background-color: hotpink;
    height: 100vh;
}

.home-image {
    width: 100%;  /* Set the width to 100% of the parent container */
    height: auto; /* Maintain the aspect ratio */
    max-width: 400px; /* Optional: Set a maximum width */
    border-radius: 15px;
}

#home-orderbtn {
    width: 200px;
    border-radius: 20px;
    height: 40px;
}

.title-home {
    font-weight: normal;
    color: white;
}

@media (max-width: 376px) {
    .drafthome {
        height: 100%; /* Use 100% of the viewport height */
        min-height: 100vh; /* Ensure it still takes full viewport height */
    }

    .homemain {
        margin-top: 20px;
    }

    #home-orderbtn {
        margin: 0; /* Reset margin */
        display: block; /* Ensure it behaves like a block element */
    }
    
}