.navbar {
	width: 100%;
	height: 80px;
	background-color: #e78bb5;
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  
  .app-logo {
	display: flex;
	align-items: center;
	gap: 20px;
  }
  
  .logo {
	width: 30px;
	height: 65px;
  }
  
  .navbar .leftSide {
	flex: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 30px;
  }
  
  .navbar .rightSide {
	flex: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end; /* Align icons to the right */
	padding-right: 20px; /* Adjust padding as needed */
  }
  
  .navbar a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin: 0 10px; /* Equal space between icons */
  }
  
  .navbar a:focus, a:hover {
	color: white;
  }
  
  .navbar .rightSide button {
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
  }
  
  .navbar .rightSide svg {
	font-size: 40px;
  }
  
  /* Ensure logo remains in place and left side items stay unchanged */
  .navbar #open {
	padding-left: 0px;
  }
  
  .navbar #open img {
	display: none;
  }
  
  .navbar #close img {
	display: inherit;
  }
  
  .navbar #open .hiddenLinks {
	display: inherit;
	margin-left: 0px;
  }
  
  .navbar #close .hiddenLinks {
	display: none;
  }
  
  .navbar #open a {
	width: 70px;
	margin: 5px;
  }
  
  @media only screen and (max-width: 900px) {
	.navbar .rightSide a {
	  width: 70px;
	}
  
	.navbar .leftSide {
	  padding-left: 50px;
	}
  }
  
  @media only screen and (max-width: 896px) {
	.navbar .rightSide a {
	  display: none;
	}
  
	.navbar .rightSide {
	  justify-content: flex-end;
	  padding-right: 80px;
	}
  
	.navbar .rightSide button {
	  display: inherit;
	}
  }
  
  @media only screen and (min-width: 600px) {
	.navbar .rightSide button {
	  display: none;
	}
  
	.hiddenLinks {
	  display: none;
	}
  }
  