.logo1 {
  width: 50px;
  height: 50px;
  /* margin-top: -10px; */
}

.admin-nav {
background-color: rgba(255, 105, 180, 0.874);
}

#header-admin-title {
margin-top: 10px
}

.navlink-admin {
font-weight: 400 !important;
font-size: larger !important;
margin-left: 20px !important;
}

.confirm-logout {
  background-color: hotpink;
  border: none;
  width: 25%;
}

.cancel-logout {
  width: 25%;
}

.navlink-admin:hover {
color: white !important;
}

@media (max-width: 768px) { 

#basic-navbar-nav {
  /* background-color: white; */
  z-index: 4;
}

#toggle-nav:active {
  background-color: rgb(212, 7, 7);
}
}

