

.customer-cart {
    background-color: hotpink !important;
    border: none !important;
}

.checkOut-container {
    border: 1px solid black;
    border-top-left-radius: 10px;   /* Adjust the value as needed */
    border-top-right-radius: 10px;  /* Adjust the value as needed */
    border-bottom-left-radius: 10px;  /* Adjust the value as needed */
    border-bottom-right-radius: 10px; /* Adjust the value as needed */
}

.quantity-button {
    border: none !important;
    color: black !important;
    font-weight: bolder;
}

.quantity-button:hover {
    background-color: hotpink !important;
    border: none !important;
    border-top-left-radius: 10px !important;   /* Adjust the value as needed */
    border-top-right-radius: 10px !important;  /* Adjust the value as needed */
    border-bottom-left-radius: 10px !important;  /* Adjust the value as needed */
    border-bottom-right-radius: 10px !important; /* Adjust the value as needed */
}

@media (max-width: 768px) {
    .fullscreen-modal {
        width: 100%;
        height: 100%;
        max-width: none;
        margin: 0;
    }

    .fullscreen-modal .modal-content {
        height: 100%;
        border-radius: 0;
    }

    .customer-cart  {
        height: 50px;
        width: 400px;
        justify-content: center;
    }

    .fullscreen-modal2 {
        width: 100%;
        height: 100%;
        max-width: none;
        margin: 0;
    }

    .fullscreen-modal2 .modal-content {
        height: 100%;
        border-radius: 0;
    }

    #order-table {
        height: 50px !important;
    }
}