.banner {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

.logo1 {
  margin-top: 100px;
  width: 200px; 
  height: 200px; 
}

#btn {
  height: 50px;
  width: 200px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-size: large;
  font-weight: bold;
  margin-top: 40px;
}

#btn:hover {
  background-color: rgb(42, 41, 41);
}

#btn:active {
  transform: translateY(2px);
}

#home-admin {
  font-size: 40px;
  margin: 20px 0px 0px 1400px;
  cursor: pointer;
}

#home-admin:hover {
  color: #e78bb5;
}
