/* .banner {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

.logo-home {
  margin-top: 100px;
  width: 200px; 
  height: 200px; 
} */



/* #home-admin {
  font-size: 40px;
  margin: 20px 0px 0px 1400px;
  cursor: pointer;
}

#home-admin:hover {
  color: #e78bb5;
} */

#btn {
  height: 50px;
  width: 200px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-size: large;
  font-weight: bold;
  margin-top: 40px;
}

#btn:hover {
  background-color: rgb(42, 41, 41);
}

#btn:active {
  transform: translateY(2px);
}

/* Styles for mobile devices (max-width: 480px) */
@media (max-width: 480px) {
  #btn {
    height: 30px;
    width: 150px;
    border-radius: 30px;
    font-size: medium;
    font-weight: light;
    padding-bottom: 35px;  
    }
}

/* Styles for tablets (min-width: 481px and max-width: 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  #btn {
    height: 30px;
    width: 150px;
    border-radius: 30px;
    font-size: medium;
    font-weight: light;
    padding-bottom: 35px;
  }

  .logo-home1 {
    margin-top: 15px;
  } 
  
}

/* Styles for larger screens (min-width: 769px) */
@media (min-width: 769px) {
  
}

#home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensures the image covers the whole area */
  z-index: -1; /* Sends the background behind the content */
  filter: brightness(0.4);
}

.banner {
  position: relative; /* Ensure the banner is positioned relative to the parent */
  z-index: -1; /* Bring the banner content above the background */
}

.logo-home1 {
  height: 60px; /* Adjust based on your design */
  width: 60px; /* Keep the aspect ratio */
  margin-left: 50px;
  margin-right: 30px;
}

.navbar-brand {
  font-size: 1.25rem; /* Adjust font size as needed */
}

#btn {
  margin-top: 350px;
  margin-left: 90px;
}

#dropdown-home {
  background-color: transparent;
  border: none;
  width: 100px;
  margin-left: -70px;
}

#dropdown-menu {
  width: 120px;
}