.banner {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  position: relative; /* To control absolute positioning inside */
}

.logo1 {
  margin-top: 100px;
  width: 200px; 
  height: 200px; 
}

#btn {
  height: 50px;
  width: 200px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-size: large;
  font-weight: bold;
  margin-top: 40px;
}

#btn:hover {
  background-color: rgb(42, 41, 41);
}

#btn:active {
  transform: translateY(2px);
}

/* Styling for icons container */
.admin-icons {
  display: flex;
  position: absolute;
  top: 20px;
  right: 40px;
  gap: 20px; /* Space between the icons */
}

.home-admin {
  font-size: 40px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.home-admin:hover {
  color: #e78bb5;
}
