
.table-fixed th, .table-fixed td {
    padding: 8px;
    border: 1px solid #ddd; 
}

#inventory-dropdown {
    background-color: hotpink;
    border: none;
    padding: 10px;
}

.food-save {
    background-color: hotpink;
    border: none;
}

.food-save.clicked {
  background-color: black;
}
body {
    overflow-y: hidden;
}
/* 
#action-inventory {
  width: 140px;
} */

.action-buttons {
  display: flex;
  justify-content: center;
}

#edit-inventory {
  background-color: hotpink;
  border: none;
  margin-right: 10px;
}

#delete-inventory {
  background-color: black;
  border: none;
}

.btn-add-inventory {
  width: 200px;
  height: 50px;
  margin-left: 900px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
    .fullscreen-modal {
        width: 100%;
        height: 100%;
        max-width: none;
        margin: 0;
    }

    .fullscreen-modal .modal-content {
        /* height: 900px; */
        border-radius: 0;
    }

    .food-save {
        height: 50px;
        width: 400px;
        justify-content: center;
    }

    .btn-add-inventory {
      width: 300px;
      height: 50px;
      margin-left: 0px;
      margin-bottom: 0px;
    }
}

.add-ingredient {
    border: none;
}

.ing-th {
    width: 150px;
  }

  .ing-th1 {
    width: 50px;
  }

  .ing-td {
    text-align: center;
  }

  .table-ingredients {
    border: 1px solid rgba(0, 0, 0, 0.152);
  }

  .table-ingredients th {
    text-align: center;
  }

  .btn-remove-ingredient {
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 20px;
  }

  .btn-remove-ingredient:hover {
    color: red;
    cursor: pointer;
    background-color: transparent;
  }