#card {
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 400px;
  height: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
}

input {
  color: black;
}
#input-admin {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.392); 
  outline: none; 
  background-color: transparent;
  width: 250px;
  height: 25px;
  font-weight: 20px;
  font-size: 18px;
  padding: 0 40px 10px 40px; 
}

#logo-container {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #e78bb5;
  height: 150px;
}

#logo {
  height: 100px;
  margin: 30px auto;
}

.input-box {
  margin: 40px auto;
}

#inputbx {
  margin-top: 70px;
}

.icon {
  position: absolute;
  font-size: larger;
  color: rgba(0, 0, 0, 0.385);
}

.icon1 {
  position: absolute;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.385);
  margin-left: -30px;
}

#lblAdminLogin {
  margin: -50px 0px 50px 0px;
  font-weight: 600;
}

#login {
  height: 50px;
  width: 200px;
  margin-top: 30px;
  background-color: #e78bb5;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: larger;
  transition: transform 0.2s ease;
}

#login:hover {  
  background-color: #eccfdc;
}

#login:active {
  transform: translateY(2px);
}

#ad-close {
  color: white;
  font-size: 30px;
  position: absolute;
  margin: 20px 0px 0px -130px;
}

#ad-close:hover {
  color: black;
}