.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); 
    grid-gap: 1rem; 
    max-height: 600px;
    overflow: auto;
    background-color: rgba(42, 117, 193, 0.53);

}