.order-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.order-list-container {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

.order-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-header {
    background-color: #007bff;
    color: rgb(0, 0, 0);
}

.order-header-cell {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.order-row:nth-child(even) {
    background-color: #f2f2f2;
}

.order-row:hover {
    background-color: #e9ecef;
}

.order-cell {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.order-no-data {
    font-size: 1.2rem;
    color: #888;
}

.order-card {
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.order-card-header {
    background-color: #ff69b4; /* Pink header for the card */
    color: white;
    font-size: 1.1rem;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-card-title {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 20px;
}

.order-items-list {
    border-top: 1px solid #f0f0f0;
    margin-top: 10px;
    padding-top: 10px;
}

.order-item {
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.order-item:last-child {
    border-bottom: none;
}

.order-actions {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
}

.order-action-icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.complete-icon {
    color: #4CAF50; /* Green for complete */
}

.complete-icon:hover {
    color: #388E3C;
}

.cancel-icon {
    color: #FF5252; /* Red for cancel */
}

.cancel-icon:hover {
    color: #D32F2F;
}

.view-icon {
    color: #2196F3; /* Blue for view */
}

.view-icon:hover {
    color: #1976D2;
}

@media (max-width: 768px) {
    .order-card {
        margin-bottom: 20px;
    }
}

.confirmation-modal-body {
    text-align: center;
}

.checkmark-animation {
    margin: 20px auto;
    width: 100px;
    height: 100px;
}

.checkmark {
    width: 100%;
    height: 100%;
    stroke-width: 2;
    stroke: #4CAF50;
    fill: none;
    animation: checkmark 0.5s ease-in-out;
}

@keyframes checkmark {
    0% {
        stroke-dasharray: 100px;
        stroke-dashoffset: 100px;
    }
    50% {
        stroke-dashoffset: 50px;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

