.pos-cart {
  height: 85vh; 
}

.pos-content {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.pos-menu-title {
  color: hotpink;
}

.pos-table-container {
  height: 450px; /* Set your desired fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.order-summary-total {
  border: 1px solid rgba(0, 0, 0, 0.297);
  border-radius: 10px;
}

#cashier-checkout-button {
  background-color: hotpink;
  border: none;
}


.pos-cart {
  border: 1px solid rgba(0, 0, 0, 0.208);
  border-radius: 10px;
}

#category-dropdown {
  background-color: hotpink;
  border: none;

}

#category-dropdown:hover, #cashier-checkout-button:hover {
  background-color: rgba(255, 105, 180, 0.295) !important;
  color: black !important;
}

#cashier-card {
  width: 200px;
  height: 320px;
}

.cashier-itm {
  width: 100%;
  height: 130px;
  object-fit: fill;
}

.no-purchase {
  font-size: 12px !important;
}

.available {
  font-size: 14 !important;
}
/* .pos-quantity {
  padding: 2[x];
} */
.pos-btng {
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
}

.pos-add {
  background-color: hotpink !important;
  color: black;
  border: none !important;
  font-size: large !important;
}

.posd {
  height: 85vh;
  margin-top: 10px;
}

.orders-sum-pos {
  background-color: #ffffff; /* Light gray background */
  border-radius: 6px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}


.pos-minus {
  background-color: black !important;
  color: white;
  border: none !important;
  font-size: large !important;
}

.pos-add:hover {
  background-color: rgba(255, 105, 180, 0.295) !important;
  color: black !important;

}

.pos-minus:hover {
  background-color: rgba(0, 0, 0, 0.356) !important;
  color: black;

}

#pos-remove {
  background-color: transparent;
  color: black;
  font-size: larger;
  border: none;
}

#pos-remove:hover {
  color: red;
}


@media (min-width: 344px) and (max-width: 767px) {

  .pos-content {
    height: 80vh;
    overflow-y: auto;
    margin-bottom: 2px;
  }

  .orders-sum-pos {
    background-color: aqua;
    display: none;
  }

  #category-dropdown {
    margin-left: 60px;
  }

  #cashier-card {
    width: 160px;
    height: 350px !important;
  }  

  .cashier-itm {
    height: 120px;
    object-fit: fill;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .orders-sum-pos {
    background-color: aqua;
    display: none !important;
  }

  #cashier-card {
    width: 220px !important;
    height: 340px !important;
  }  

  .cashier-itm {
    height: 120px;
    object-fit: fill;
  }
}

@media (max-width: 1024px) {
  #cashier-card {
    width: 160px;
    height: 250px;
  }  

  .cashier-itm {
    height: 120px;
    object-fit: fill;
  }

  .orders-sum-pos {
    width: 320px;
  }
}
