.pos-cart {
  height: 85vh; 
}

.pos-content {
  height: 70vh;
  overflow-y: auto;
}

.pos-table-container {
  height: 450px; /* Set your desired fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.order-summary-total {
  border: 1px solid rgba(0, 0, 0, 0.297);
  border-radius: 10px;
}

#cashier-checkout-button {
  background-color: hotpink;
  border: none;
}


.pos-cart {
  border: 1px solid rgba(0, 0, 0, 0.208);
  border-radius: 10px;
}

#category-dropdown {
  background-color: hotpink;
  border: none;
}

#category-dropdown:hover, #cashier-checkout-button:hover {
  background-color: rgba(255, 105, 180, 0.295) !important;
  color: black !important;
}

.cashier-itm {
  width: 100%;
  height: 250px;
  object-fit: fill;
}

/* .pos-quantity {
  padding: 2[x];
} */
.pos-btng {
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
}

.pos-add {
  background-color: hotpink;
  color: black;
  border: none;
  font-size: large;
}

.pos-minus {
  background-color: black;
  color: white;
  border: none;
  font-size: large;
}

.pos-add:hover {
  background-color: rgba(255, 105, 180, 0.295) !important;
  color: black !important;

}

.pos-minus:hover {
  background-color: rgba(0, 0, 0, 0.356) !important;
  color: black;

}

#pos-remove {
  background-color: transparent;
  color: black;
  font-size: larger;
}

#pos-remove:hover {
  color: red;
}

@media (max-width: 480px) {
  #cashier-card {
      height: 300px;
  }

  .cashier-add-to-cart {
      height: 30px;
      width: 30px;
      font-size: 15px;
  }
  
  .cashier-price {
      color: hotpink;
      font-size: 15px;
      font-weight: bold;
  }

  .hero-block .carousel-item img {
    width: 100%;
    height: 200px;
  }

  .menu-itm {
    width: 100%;
    height: 130px;
    object-fit: fill;
  }

  #cashier-card {
    height: 260px;
  }
}
