#card2 {
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 400px;
    height: 530px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
  }
  
  input {
    color: black;
  }
  #input-admin2 {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.392); 
    outline: none; 
    background-color: transparent;
    width: 250px;
    height: 25px;
    font-weight: 20px;
    font-size: 18px;
    padding: 0 40px 10px 40px; 
  }
  
  #logo-container2 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #e78bb5;
    height: 150px;
  }
  
  #logo {
    height: 100px;
    margin: 30px auto;
  }
  
  .input-box2 {
    margin: 40px auto;
  }
  
  #inputbx2 {
    margin-top: 70px;
  }
  
  .icon2 {
    position: absolute;
    font-size: larger;
    color: rgba(0, 0, 0, 0.385);
  }
  
  .icon12 {
    position: absolute;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.385);
    margin-left: -30px;
  }
  
  .icon3 {
    position: absolute;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.385);
    margin-left: -30px;
}

#lblCustomerLogin {
    margin: -50px 0px 50px 0px;
    /* text-align: left; */
    font-weight: 600;
}

#login-close {
  color: white;
  font-size: 30px;
  position: absolute;
  margin: 20px 0px 0px -130px;
}

#login-close:hover {
  color: black;
}

  #login2 {
    height: 50px;
    width: 200px;
    margin-bottom: 30px;
    background-color: #e78bb5;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: larger;
    transition: transform 0.2s ease;
  }
  
  #login2:hover {  
    background-color: #eccfdc;
  }
  
  #login2:active {
    transform: translateY(2px);
  }

  #stud-register {
    cursor: pointer;
    color: blue;
  }